
{% extends "layout_hmpps-no-nav.html" %}
{% block pageTitle %}
Official visits prototype
{% endblock %}


{% block beforeContent %}
<nav class="govuk-!-display-none-print"> 
  <a href="../dps-home.html" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-3 govuk-!-margin-bottom-3 float-right">
    Go to all appointments tasks
  </a>
</nav>
{% endblock %}

{% block content %} 

    <div class="govuk-width-container">
      
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
         
          <div class="govuk-grid-column-two-thirds-from-desktop">
           
              <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">Manage appointments</span>
                
                {% if data['alt-appointment-name'] !='' %}
  
                {{ data['alt-appointment-name']}} ({{ data['apppointment-type']}})
  
                {% else %}
                
                {{ data['apppointment-type']}}
                {% endif %}
                <span class="govuk-caption-m govuk-!-margin-top-2">Tuesday, {{ data['date-of-appointment-day']}} October 2023</span>
               </h1>

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Appointment details</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="../../cancel/non-repeat/cancel-question">
                      Copy appointment
                    </a>
                  </li>
                  <li class="govuk-summary-card__action"> <a class="govuk-link" href="../../cancel/non-repeat/cancel-question">
                      Cancel appointment
                    </a>
                  </li>
                </ul>
              </div>
              <div class="govuk-summary-card__content"> 
                <dl class="govuk-summary-list">

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Appointment name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        
                      {% if data['alt-appointment-name'] !='' %}
        
                      {{ data['alt-appointment-name']}} ({{ data['apppointment-type']}})
        
                      {% else %}
                      
                      {{ data['apppointment-type']}}
                      {% endif %}
                    </dd> 
                    <!-- <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">
                        Change <span class="govuk-visually-hidden">  type</span>
                      </a>
                    </dd> -->
                  </div> 
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Tier
                    </dt>
                    <dd class="govuk-summary-list__value"> 

                      {{ data['FRD-tier']}}  
                      
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../../edit/tier/tier">
                        Change<span class="govuk-visually-hidden">tier</span>
                      </a>
                    </dd>
                  </div>
                 
           
                  {% if data['FRD-tier'] == 'Tier 2' %}
                  <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                          Host
                      </dt>
                      <dd class="govuk-summary-list__value">
                          
                          {{data['FRD-provider']}}
                      </dd>
                      <dd class="govuk-summary-list__actions">
                          <a class="govuk-link" href="../../edit/tier-repeating/provider"> 
                              Change<span class="govuk-visually-hidden"> activity provider</span>
                          </a>
                      </dd>
                  </div>
                  {% else %}

                  {% endif %}
            
            

                  
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Location
                    </dt>
                    <dd class="govuk-summary-list__value">
                    {{ data['apppointment-location']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../../edit/location-repeating/location">
                        Change <span class="govuk-visually-hidden">  location</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Date
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['date-of-appointment-day']}} {{ data['date-of-appointment-month']}} {{ data['date-of-appointment-year']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../../edit/date-time-repeating/date-of-appointment">
                        Change <span class="govuk-visually-hidden"> date</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Start time
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['start-hours']}}:{{ data['start-minutes']}}  
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="../../edit/date-time-repeating/date-of-appointment">
                        Change <span class="govuk-visually-hidden"> start time</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      End time
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['end-hours']}}:{{ data['end-minutes']}}  
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../../edit/date-time-repeating/date-of-appointment">
                        Change <span class="govuk-visually-hidden"> end time</span>
                      </a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Extra information
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {{ data['more-detail']}}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="../../edit/extra-information-repeating/comments">
                        Change <span class="govuk-visually-hidden"> extra information</span>
                      </a>
                    </dd>
                  </div>
                 </dl>
              </div>
            </div>
            <button class="govuk-button govuk-button--blue govuk-!-margin-bottom-6" data-module="govuk-button" formaction="#" method="post" data-govuk-button-init="">
              Print attendance list
          </button>
             <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">1 attendee</h2>
                <ul class="govuk-summary-card__actions">
                  <li class="govuk-summary-card__action"> 
                    <a class="govuk-link" href="movement-slip-example">
                      Print movement slips
                    </a>
                </li>  
                <li class="govuk-summary-card__action"> 
                  <a class="govuk-link" href="#">
                    Add attendees
                  </a>
              </li>  
                </ul>
              </div>
              <div class="govuk-summary-card__content">
                
                <table class="govuk-table app-whereabouts-table--sticky-head" data-module="moj-sortable-table">
                  <thead class="govuk-table__head">
                    <tr>
                      <th class="govuk-table__header" aria-sort="none"><button type="button" data-index="0">
                        Name
                      </button></th>
                      <th class="govuk-table__header" aria-sort="ascending"><button type="button" data-index="1">
                        Cell location
                      </button></th> 
                      <th class="govuk-table__header" >
                        
                      </th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body"> 
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" width="240" scope="col">
                          <a href="#" class="govuk-link--no-visited-state"><b>Rudge</b>, Neil</a><br>
                          <span class="govuk-hint govuk-!-font-size-16">EN2245U</span>
                        </td>
                        <td class="govuk-table__cell" data-sort-value="112" scope="col">
                          1−1−204
                        </td> 
                        
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="" scope="col">
                        <a href="" class="govuk-link--no-visited-state ">Remove</a>
                      </td>
                      </tr> 
                  </tbody>
                </table>
              </div>
            </div> 
            <div class="govuk-summary-card">
             <div class="govuk-summary-card__title-wrapper">
               <h2 class="govuk-summary-card__title">1 official contact</h2>
               <ul class="govuk-summary-card__actions"> 
                 <li class="govuk-summary-card__action" style="padding-left: 10px;"> <a class="govuk-link" href="edit/appointment-list/add/add-official-contacts">
                     Add official contact
                   </a>
                 </li> 
               </ul>
             </div>
             <div class="govuk-summary-card__content"> 

              {% if data['officalContactsAdded'] == 'additional' %}
              <table class="govuk-table app-whereabouts-table--sticky-head" data-module="moj-sortable-table">
                <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
                    Official contacts
                </caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="0"></button>Name</th>
                        <!-- <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1"></button>Date of birth</th>
                        <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2"></button>Address</th> -->
                        <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="3"></button>Relationship to prisoner</th> 
                        <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                    </tr>
                </thead> 

                <tbody class="govuk-table__body"> 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <a href="#" class="govuk-link--no-visited-state"><b>David Bloggs</b>, Joseph</a>
                          <br>
                          <span class="govuk-hint govuk-!-font-size-16">12345</span>
                        </td> 
                        <!-- <td class="govuk-table__cell">17 January 1996 <br> (28 years old)</td>
                        <td class="govuk-table__cell">64 Bow Road <br> Glasgow <br> G20 4BT <br> Scotland</td> -->
                        <td class="govuk-table__cell">Family lawyer</td> 
                        <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state ">Remove</a></td> 
                        
                    </tr> 
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <a href="#" class="govuk-link--no-visited-state"><b>Adams</b>, Claire</a>
                          <br>
                          <span class="govuk-hint govuk-!-font-size-16">98767</span>
                        </td> 
                        <!-- <td class="govuk-table__cell">17 January 1996 <br> (28 years old)</td>
                        <td class="govuk-table__cell">64 Bow Road <br> Glasgow <br> G20 4BT <br> Scotland</td> -->
                        <td class="govuk-table__cell">Solicitor</td> 
                        <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state ">Remove</a></td> 
                        
                    </tr> 
                </tbody>
            </table>

            {% else %}
              <table class="govuk-table app-whereabouts-table--sticky-head" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                  <tr>
                    <th class="govuk-table__header" aria-sort="none"><button type="button" data-index="0">
                      Name
                    </button></th>
                    <th class="govuk-table__header">
                      Relationship to prisoner
                    </button></th> 
                    <th class="govuk-table__header" >
                      
                    </th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body"> 
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" width="240" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"><b>David Bloggs</b>, Joseph</a><br> 
                        <span class="govuk-hint govuk-!-font-size-16">12345</span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        Family Lawyer
                      </td> 
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="" scope="col">
                            <a href="" class="govuk-link--no-visited-state ">Remove</a>
                      </td>
                    </tr> 
                </tbody>
              </table> 

            {% endif %}
             </div>
           </div> 
           <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">1 social contact</h2>
              <ul class="govuk-summary-card__actions"> 
                <li class="govuk-summary-card__action" style="padding-left: 10px;"> <a class="govuk-link" href="edit/appointment-list/add/add-social-contacts">
                    Add social contact
                  </a>
                </li> 
              </ul>
            </div>
            <div class="govuk-summary-card__content">

            {% if data['socialContactsAdded'] == 'additional' %} 

            <table class="govuk-table app-whereabouts-table--sticky-head" data-module="moj-sortable-table">
              <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">
                  Social contacts
              </caption>
              <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="0"></button>Name</th>
                      <!-- <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1"></button>Date of birth</th> -->
                      <!-- <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2"></button>Address</th> -->
                      <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="3"></button>Relationship to prisoner</th> 
                      <th scope="col" class="govuk-table__header"><span class="govuk-visually-hidden">Actions</span></th>
                  </tr>
              </thead> 

              <tbody class="govuk-table__body"> 
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"> 
                      <a href="#" class="govuk-link--no-visited-state"><b>Townsend</b>, Arthur</a>
                      <br>
                      <span class="govuk-hint govuk-!-font-size-16">76565</span>
                    </td>
                    <!-- <td class="govuk-table__cell">1 July 1948 <br> (76 years old)</td> -->
                    <!-- <td class="govuk-table__cell"> </td> -->
                    <td class="govuk-table__cell">Grandfather</td>
                      <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state ">Remove</a></td> 
                      
                  </tr> 
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"> 
                      <a href="#" class="govuk-link--no-visited-state"><b>Jordan</b>, Alison</a>
                      <br>
                      <span class="govuk-hint govuk-!-font-size-16">56341</span>
                    </td>
                    <!-- <td class="govuk-table__cell">1 July 1948 <br> (76 years old)</td> -->
                    <!-- <td class="govuk-table__cell"> </td> -->
                    <td class="govuk-table__cell">Friend</td>
                      <td class="govuk-table__cell"><a href="" class="govuk-link--no-visited-state ">Remove</a></td> 
                      
                  </tr> 
              </tbody>
            </table>

            {% else %} 
              <table class="govuk-table app-whereabouts-table--sticky-head" data-module="moj-sortable-table">
                <thead class="govuk-table__head">
                  <tr>
                    <th class="govuk-table__header" aria-sort="none"><button type="button" data-index="0">
                      Name
                    </button></th>
                    <th class="govuk-table__header">
                      Relationship to prisoner
                    </button></th> 
                    <th class="govuk-table__header" >
                      
                    </th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body"> 
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" width="240" scope="col">
                        <a href="#" class="govuk-link--no-visited-state"> <b>Townsend</b>, Arthur</a><br> 
                        <span class="govuk-hint govuk-!-font-size-16">76565</span>
                      </td>
                      <td class="govuk-table__cell" data-sort-value="112" scope="col">
                        Grandfather
                      </td> 
                      <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="" scope="col">
                            <a href="" class="govuk-link--no-visited-state ">Remove</a>
                      </td>
                    </tr> 
                </tbody>
              </table>  

            {% endif %} 
            </div>
          </div> 
            
            
            <!-- <form  method="post" novalidate>
              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Print movement slip"
                }) }}
              
               {{ govukButton({
                text: "Cancel appointment",
                classes: "govuk-button--secondary",
                href: "cancel-group-alt/cancel-occurrence-question"
               }) }}
               
            </div>  -->

            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">Appointment history</h2> 
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
             
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Created by
                    </dt>
                    <dd class="govuk-summary-list__value">
                      J. Smith
                    </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Date created
                      </dt>
                      <dd class="govuk-summary-list__value">
                        16 November 2024
                      </dd>
                    </div>
                     <!-- <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        Last edited by
                      </dt>
                      <dd class="govuk-summary-list__value">
                        B. Milman
                      </dd>
                      </div>
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          Date last edited
                        </dt>
                        <dd class="govuk-summary-list__value">
                          22 June 2023
                        </dd>
                      </div>  -->
                 </dl>
              </div>
            </div>
            
            </form>
          </div>
        </div>
      </main>
    </div>
  
{% endblock %}
