{% extends "layout_hmpps.html" %}
{% set serviceName = "Activities Management" %}
{% block pageTitle %}
    Official visits prototype
{% endblock %}
{% block primaryNavigation %}{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
	text: "Record and check attendance",
	href: '/' + data['prototype-versions']['create-and-allocate']['url'] ~ "/record-check-attendance"
})}}
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-xl">Appointments attendance summary</span>
			<h1 class="govuk-heading-xl">When do you want to see the attendance summary for?</h1>

            <form method="post" action="attendance-dashboard-route">

                {% set today = '_'|today() %}
                {{ govukRadios({
				name: "selectDate",
				fieldset: {
					legend: {
						text: "Date",
						isPageHeading: false,
						classes: "govuk-fieldset__legend--m govuk-visually-hidden",
						caption: "test"
					}
				},
				hint: {
					text: "You can view the summary from the first day of the previous calendar month, up to today."
				},
				items: [
				{
					value: today,
					text: "Today – " + today|convertShortDateToLongDate
				},
				{
					value: today|dayBefore,
					text: "Yesterday – " + today|dayBefore(today)|convertShortDateToLongDate
				},
				{
					value: "other-date",
					text: "A different date",
					conditional: {
						html: dateHtml
					}
				},
				{
					value: today|dayBefore,
					text: "Between 2 dates",
						hint: {
							text: "To view the summary for a particular week, or last month, for example."
						}
				}
				]
			}) }}

            {{ govukButton({
                text: "Continue"
            })}}
            </form>
        </div>
    </div>
{% endblock %}