
{% extends "layout.html" %}

{% block pageTitle %}
Official visits prototype
{% endblock %}

{% block header %}
{% set page = "appointments" %}

{% include "includes/proto-header.html" %}

<div class="app-masthead">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="app-masthead__title govuk-heading-l govuk-!-margin-bottom-3">
          Official visits
        </h1>
        <h3 class="app-masthead__subtitle govuk-heading-m">A service within Digital Prison Services for prison staff to manage official vists.
        </h3>
      </div>
      <div class="govuk-grid-column-one-third">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}




<div class="govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-m">
    Supporting documentation
  </h2> 

  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://miro.com/app/board/uXjVK46PezI=/?moveToWidget=3458764597458893678&cot=14" target="_blank" class="govuk-link govuk-link--no-visited-state">Miro - Contacts and Official visits</a></li> 
    <li><a href="https://drive.google.com/drive/folders/1cZt1yHsyI8c05DmLWzdzRaXUBfaiVJfu" target="_blank" class="govuk-link govuk-link--no-visited-state">Gogle drive - Contacts and Official visits</a></li> 
    <li><a href="https://www.figma.com/design/jF7iETqGBmG0qMr2ybSqqV/Official-Visits-prototyping?node-id=0-1&t=PbC2dUmR5mk92b8u-1" target="_blank" class="govuk-link govuk-link--no-visited-state">Figma - Official visits </a></li> 
    <li><a href="https://hmpps-activity-management-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/appointments/?prototype=appointments" target="_blank" class="govuk-link govuk-link--no-visited-state">GOVUK Prototype - Appointments and Activities </a> (pw: Act!vitie5)</li> 
  </ul> 
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full"> 
     

    <h2 class="govuk-heading-l">
      Prototype versions
    </h2> 

    
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

      <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="version-9">
                  Version 1
                  <!-- <strong class="govuk-tag govuk-tag--pink govuk-!-margin-left-1">
                      For research
                      </strong> -->
                      <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">
                          In Design
                      </strong>
              </span>
              </h2>
          </div> 
          <div id="" class="govuk-accordion__section-content" aria-labelledby="version-9">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">    
                    <a href="v1/dps-home-main" role="button" draggable="false" class="govuk-button govuk-button--secondary"
                    data-module="govuk-button">
                    Launch from DPS homepage 
                </a>
              </div>
              
            
              <div class="govuk-grid-column-three-quarters"> 
                  <h4 class="govuk-heading-m">Changes in this version</h4> 

                  <p class="govuk-body">This is the first version of the Book official visits prototype. This service is a modification of the Appointments and Activities service. This first version contains the end-to-end appintments journey with additional pages for book an official visit. </p>

                  <p class="govuk-body">Changes include:</p>

                  <ul class="govuk-list govuk-list--number">
                      <li>updates to the 'create an appointment' journey</li>    
                      <li>updates to the 'view an appointment' journeys</li>           
                      <li>addition of 'edit an appointment'</li>        
                  </ul> 


                  <h4 class="govuk-heading-m">Supporting documents</h4>
                  <ul class="govuk-list">
                      <li><a class="govuk-link" target="external" href="https://miro.com/app/board/uXjVK46PezI=/?moveToWidget=3458764597458893678&cot=14">High-level journey diagram (miro)</a></li>   
                      <li><a class="govuk-link" target="external" href="https://miro.com/app/board/uXjVK46PezI=/?moveToWidget=3458764605642297473&cot=14">Mapped out user journeys (miro)</a></li>   
                  </ul> 

                  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                  <h4 class="govuk-heading-m">1. updates to the 'create an appointment' journey</h4> 
                  <p class="govuk-body">We have made modifications and additions to the 'create an appointment' journey in order to accomodate the selection of official visits as an appointment type, and the routing of the users through additional pages to select official and social contacts. At present, we are unclear which pages we might be able to skip past in this scenario (tiers etc).</p> 
                  <ul class="govuk-list govuk-list--bullet"> 
                      <li><a class="govuk-link" target="external" href="v1/create-appointment/appointment-name">appointment name (type)</a></li>   
                      <li><a class="govuk-link" target="external" href="v1/create-appointment/add-official-contacts">add an official contact</a></li>   
                      <li><a class="govuk-link" target="external" href="v1/create-appointment/search-official-contacts">official contact list</a></li>    
                      <li><a class="govuk-link" target="external" href="v1/create-appointment/add-social-contacts.html">add a social contact</a></li>   
                      <li><a class="govuk-link" target="external" href="v1/create-appointment/search-social-contacts.html">social contact list</a></li>   
                      <li><a class="govuk-link" target="external" href="v1/create-appointment/check-answers">check your answers</a></li> 
                  </ul>   

                  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                  <h4 class="govuk-heading-m">2. updates to the 'view an appointment' journeys</h4> 
                  <p class="govuk-body">To find official vists appointments, we priopose adding 'official visit' to the filter options on the appointments dashboard. In order to accomodate official visits, we have modified the appointment summary to accomodate the additional information created when creating an official visit appointment.</p> 
                  <ul class="govuk-list govuk-list--bullet"> 
                    <li><a class="govuk-link" target="external" href="v1/appointment-management/search-results">appointment dashboard</a></li>  
                      <li><a class="govuk-link" target="external" href="v1/appointment-management/summary-official-visit">appointment summary</a></li>  
                  </ul>  

                  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                  <h4 class="govuk-heading-m">3. addition of 'edit an appointment' journeys</h4> 
                  <p class="govuk-body">...</p> 
                  <ul class="govuk-list govuk-list--bullet"> 
                      <li><a class="govuk-link" target="external" href="...">...</a></li>  
                  </ul>  
              </div> 

            </div>
          </div>
        </div> 
      <!-- <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="version-9">
                Version 12.1
                <strong class="govuk-tag govuk-tag--pink govuk-!-margin-left-1">
                    For research
                    </strong>
                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">
                        In Design
                    </strong>
            </span>
            </h2>
        </div> 
        <div id="" class="govuk-accordion__section-content" aria-labelledby="version-9">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">  
                </div>
                
                

        
                    <div class="govuk-grid-column-three-quarters"> 
                        <h4 class="govuk-heading-m">What we are testing</h4> 
                        <p class="govuk-body">This remote round of UR is due to take place in wc 1st October 2024.</p> 
                        <p class="govuk-body">In this round, we aim to:</p> 
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Validate our improvements to the core designs of recording a recall</li> 
                            <li>Testing our iterations on view and edit a recall having been put in it's own tab</li> 
                            <li>Testing some scenarios with more complex sentencing information </li> 
                        </ul>   
                        <h4 class="govuk-heading-m">Supporting documents</h4>
                        <ul class="govuk-list"> 
                            <li><a class="govuk-link" target="external" href="https://docs.google.com/document/d/19Zrkhz1V87Ndz4B9CGs9eeDQWHExDg8goORkF2s7kF0/edit?tab=t.0">R5 mock scenario (docs)</a></li>   
                            <li><a class="govuk-link" target="external" href="https://docs.google.com/document/d/1iPpJHcfcyYxoieg8UjzSAlIPcxyJagHGT9e6pyyealQ/edit?tab=t.0#heading=h.y1kyip8kz10d">R5 discussion guide (docs)</a></li>    
                     
                        </ul> 

                        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


                        <form action="post">
                        <h4 class="govuk-heading-m">Scenario 1</h4>
                        <p class="govuk-hint">Recording a recall</p>

                        {{govukButton({
                            text: "Launch scenario 1",
                            attributes: {
                            "formaction": "v12_1/DPS-prisoner-profile?scenario=2",
                            "formmethod": "post"
                            },
                            classes: "govuk-button--secondary"
                            })}}
                        <p class="govuk-body">This scenario explores the previously tested journey where the user records a recall (core journey). This scenario includes a new entry point for all recall journeys on it own tab.</p> 
                        
                        </form>  


                    </div>
                      
        </div>
    </div>
      </div>
      <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="version-9">
                  Version 12
                  
                  <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-1">
                      In Design
                  </strong>
              </span>
              </h2>
          </div> 
          <div id="" class="govuk-accordion__section-content" aria-labelledby="version-10">
              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-full">  
                  <form action="post">
                      <div class="govuk-button-group"> 
                      
                          {{govukButton({
                              text: "Launch from DPS homepage",
                              attributes: {
                              "formaction": "v12/DPS-home?viewOption=adjustmentsReleasedTrue",
                              "formmethod": "get"
                              },
                              classes: "govuk-button--secondary"
                              })}}

                          {{govukButton({
                              text: "Launch from prisoner profile",
                              attributes: {
                              "formaction": "v12/DPS-prisoner-profile?viewOption=adjustmentsReleasedTrue",
                              "formmethod": "post"
                              },
                              classes: "govuk-button--secondary"
                              })}}

                      </div>
                  </form>
                  </div>
                  
                
                  <div class="govuk-grid-column-three-quarters"> 
                      <h4 class="govuk-heading-m">Changes in this version</h4> 

                      <ul class="govuk-list govuk-list--number">
                          <li>Post-R4 improvements</li>     
                          <li>CRDS manual entry improvements</li>     
                          <li>Logic for editing UAL</li>         
                          <li>Unhappy paths</li>       
                      </ul> 


                      <h4 class="govuk-heading-m">Supporting documents</h4>
                      <ul class="govuk-list">
                          <li><a class="govuk-link" target="external" href="https://docs.google.com/presentation/d/1xjwYbX2-3kfuMPlEiXNqAtR6XlE2DMXbpNiA_Dx1wks/edit#slide=id.g2ebc4771840_0_406">R4 Playback (Google Sheets)</a></li>     
                          <li><a class="govuk-link" target="external" href="https://miro.com/app/board/uXjVNTjoHT8=/?moveToWidget=3458764604128735594&cot=14">R4 Ideation (miro)</a></li>     
                      </ul> 

                      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                      <h4 class="govuk-heading-m">1. Post-R4 improvements</h4> 
                      <p class="govuk-body">..</p> 
                      <ul class="govuk-list"> 
                          <li><a class="govuk-link" target="external" href="v12/overview4">Recalls action combined with recalls section</a></li>    
                      </ul>    
                  </div> 

              </div>
          </div>
      </div> -->
       
    </div>   
  </div>
</div>

{% endblock %}
